<h1>Your Profile</h1>

<form class="flex-col" [formGroup]="form" style="margin-bottom: 24px;" *ngIf="form">
  <mat-form-field appearance="outline">
      <mat-label style="margin-left:8px; margin-top: 6px;">First Name</mat-label>
      <mat-icon class="icon" matPrefix>person</mat-icon>
      <input matInput style="margin-left:8px" type="name" autocomplete="on" formControlName="firstName"
          placeholder="First Name" required>
          <mat-error *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched">ⓘ Please enter your
              firstName – it's required
          </mat-error>
          <mat-error *ngIf="form.get('firstName').hasError('minlength') && !form.get('firstName').hasError('required')">
              ⓘ Please enter firstName – it's too short
          </mat-error>
          <mat-error *ngIf="form.get('firstName').hasError('pattern') && !form.get('firstName').hasError('minlength')">
              ⓘ Use of some special characters are restricted
          </mat-error>
          <mat-error *ngIf="form.get('firstName').hasError('maxlength') && !form.get('firstName').hasError('pattern')">
              ⓘ Please enter a shorter name – it's too long
          </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label style="margin-left:8px; margin-top: 6px;">Last Name</mat-label>
      <mat-icon class="icon" matPrefix>person</mat-icon>
      <input matInput style="margin-left:8px" type="name" autocomplete="on" formControlName="lastName"
          placeholder="lastName" required>
          <mat-error *ngIf="form.get('lastName').hasError('required') && form.get('lastName').touched">ⓘ Please enter your
              lastName – it's required
          </mat-error>
          <mat-error *ngIf="form.get('lastName').hasError('minlength') && !form.get('lastName').hasError('required')">
              ⓘ Please enter lastName – it's too short
          </mat-error>
          <mat-error *ngIf="form.get('lastName').hasError('pattern') && !form.get('lastName').hasError('minlength')">
              ⓘ Use of some special characters are restricted
          </mat-error>
          <mat-error *ngIf="form.get('lastName').hasError('maxlength') && !form.get('lastName').hasError('pattern')">
              ⓘ Please enter a shorter name – it's too long
          </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label style="margin-left:8px; margin-top:8px;">Email</mat-label>
      <mat-icon class="icon" matPrefix>email</mat-icon>
      <input matInput style="margin-left:8px;" type="email" formControlName="email" placeholder="Enter Your Email"
          autocomplete="on">
  </mat-form-field>

  <div>
    <img height="128px" [src]="profile?.photoURL" alt="No image available"/>
    <button mat-button (click)="remove()" *ngIf="profile?.photoURL" [disabled]="disable">Remove</button>
  </div>
  <input id="file" type="file" accept="image/jpeg" (change)="onSelect($event.target.files)" style="margin-top: 16px;" *ngIf="form">
  <div class="flex-row" style="margin: 24px 0; height: 20px;" *ngIf="imgUpload">
    <mat-progress-bar mode="determinate" style="height: 20px;" [value]="percentageChanges"></mat-progress-bar>
    <h3 style="margin-left: 24px; line-height: 20px;">{{percentageChanges | number: '1.0-2'}}%</h3>
  </div>

</form>
<button mat-raised-button (click)="openDialog()" onclick="blur()" style="margin-right: 32px;">Update Password</button>
<button style="width: 220px; margin-bottom: 12px; margin-top: 4px; background-color:#173b67; color: white;" mat-raised-button (click)="onsignUp()">Update</button>

<div>
  <button mat-raised-button (click)="test = !test; def()">Test</button>
  <div style="width: 60%; margin: auto">
    <canvas id="bar" [ngStyle]="{
      display: (test) ? 'none' : 'block'
    }"></canvas>
    <canvas id="bar1" [ngStyle]="{
      display: (!test) ? 'none' : 'block'
    }"></canvas>

    <div style="margin-left: auto">
      <select [(ngModel)]="from" style="width: 150px; height: 30px">
        <option *ngFor="let m of months; let i = index" [value]="m.value" (click)="someMethod(i, true)">
          {{ m.month }}
        </option>
      </select>
      &nbsp;&nbsp;

      <select [(ngModel)]="toMonth" style="width: 150px; height: 30px">
        <ng-container *ngFor="let m1 of months">
          <option [ngValue]="m1.value" *ngIf="m1.value >= from">
            {{ m1.month }}
          </option>
        </ng-container>
      </select>
      <button mat-raised-button (click)="applyDateFilter()" style="margin-left:32px">
        Apply Date Filter
      </button>
    </div>

    <div style="margin-left: auto">
      <select [(ngModel)]="fromYear" style="width: 150px; height: 30px">
        <option *ngFor="let m of years; let i = index" [value]="m.min" (click)="someMethod(m, false, i)">
          {{ m.year }}
        </option>
      </select>
      &nbsp;&nbsp;

      <select [(ngModel)]="toYear" style="width: 150px; height: 30px">
        <ng-container *ngFor="let m1 of years">
          <option [ngValue]="m1.max" *ngIf="m1.max >= fromYear">
            {{ m1.year }}
          </option>
        </ng-container>
      </select>
      <button mat-raised-button (click)="applyYearFilter()" style="margin-left:32px">
        Apply Year Filter
      </button>
    </div>

  </div>
</div>
