<br>
<mat-form-field appearance="outline" style="margin: 16px; min-width: 512px;">
    <mat-label style="margin-left:8px; margin-top: 6px;">Search</mat-label>
    <mat-icon class="icon" matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="searchedTerm" style="margin-left:8px" type="text" autocomplete="on" placeholder="Search">
</mat-form-field>
searched term: {{searchedTerm}}
<br>

<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>
  <mat-grid-tile>11</mat-grid-tile>
  <mat-grid-tile>12</mat-grid-tile>
  <mat-grid-tile>13</mat-grid-tile>
  <mat-grid-tile>14</mat-grid-tile>
  <mat-grid-tile>15</mat-grid-tile>
  <mat-grid-tile>16</mat-grid-tile>
  <mat-grid-tile>17</mat-grid-tile>
  <mat-grid-tile>18</mat-grid-tile>
</mat-grid-list>
