<div style="height: 95vh; width: 100vw">
  <mat-card class="example-card" *ngIf="post">
    <mat-card-header>
      <div mat-card-avatar style="background-size: cover;" [ngStyle]="{'background-image': post.thumbnail ? 'url(' + post.thumbnail + ')' : ''}"></div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.privacy === '0' ? 'Public' : post.privacy === '1' ? 'Private' : post.privacy}}</mat-card-subtitle>
      <button mat-button><mat-icon>{{post.privacy === '0' ? 'public' : post.privacy === '1' ? 'settings' : post.privacy}}</mat-icon></button>
      <button mat-button (click)="edit()" *ngIf="post?.authorId === currentUser?.uid"><mat-icon>edit</mat-icon></button>
    </mat-card-header>
    <!-- <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    /> -->
    <mat-card-content>
      <p>{{post.content}}</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>
