<div mat-dialog-content style="min-width: 512px;">
    <form [formGroup]="form" class="flex-col">
        <mat-form-field>
            <input matInput type="text" autocomplete="off" formControlName="title" placeholder="title" required>
            <mat-error *ngIf="form.get('title').hasError('required')">ⓘ Required</mat-error>
            <mat-error *ngIf="form.get('title').hasError('minlength') && !form.get('title').hasError('required')">
                ⓘ Minimum 5 characters are needed.</mat-error>
            <mat-error *ngIf="form.get('title').hasError('maxlength') && !form.get('title').hasError('minlength')">
                ⓘ Maximum 100 characters are allowed.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput type="text" autocomplete="off" formControlName="content" placeholder="content" required>
            </textarea>
            <mat-error *ngIf="form.get('content').hasError('required')">ⓘ Required</mat-error>
            <mat-error *ngIf="form.get('content').hasError('minlength') && !form.get('content').hasError('required')">
                ⓘ Minimum 100 characters are needed.</mat-error>
            <mat-error *ngIf="form.get('content').hasError('maxlength') && !form.get('content').hasError('minlength')">
                ⓘ Maximum 500 characters are allowed.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Privacy</mat-label>
            <mat-select formControlName="privacy" required>
              <mat-option value="0">Public</mat-option>
              <mat-option value="1">Private</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('privacy').hasError('required')">ⓘ Required</mat-error>
            <mat-hint align="end">Select privacy</mat-hint>
        </mat-form-field>
    </form>
    <input id="file" type="file" accept="image/jpeg" (change)="onSelect($event.target.files)" style="margin-top: 16px;" *ngIf="!data?.post">
    <div class="flex-row" style="margin: 24px 0; height: 20px;" *ngIf="imgUpload && !data?.post">
        <mat-progress-bar mode="determinate" style="height: 20px;" [value]="percentageChanges"></mat-progress-bar>
        <h3 style="margin-left: 24px; line-height: 20px;">{{percentageChanges | number: '1.0-2'}}%</h3>
    </div>
</div>
<div mat-dialog-actions style="justify-content: space-between;">
  <button mat-button (click)="onNoClick()" [disabled]="disable">Cancel</button>
  <button mat-button (click)="submit()" color="primary" [disabled]="disable" cdkFocusInitial>Submit</button>
</div>
